@font-face {
    font-family: 'HELEVETICAREGULAR';
    
    font-style: normal;
    src: url(./HELVETICAREGULAR.TTF);
}
@font-face {
    font-family: 'HELEVETICABOLD';
    
    font-style: normal;
    src: url(./HELVETICABOLD.TTF);
}
@font-face {
    font-family: 'HELEVETICAHEAVY';
    
    font-style: normal;
    src: url(./HELVETICAHEAVY.TTF);
}
@font-face {
    font-family: 'HELEVETICALIGHT';
    
    font-style: normal;
    src: url(./HELVETICALIGHT.TTF);
}
@font-face {
    font-family: 'HELEVETICATHIN';
    
    font-style: normal;
    src: url(./HELVETICATHIN.TTF);
}
@font-face {
    font-family: 'HELEVETICAULTRALIGHT';
    
    font-style: normal;
    src: url(./HELVETICAULTRALIGHT.TTF);
}
body{
    font-family: 'HELEVETICAREGULAR';
}

.Wrapper {
    max-width: 1175px;
    margin: 0 auto;
}
:root{
    --orange: #ffbe1d;
    --brown: #b9953c;
    --green: #aec749;
    --white: #fff;
    --maintext: #000000;
    --othertext1: #353535;
    --othertext2: #232323;
    --lighttext: #afafaf;
}

/*STYLES FOR HOMEPAGE*/

.Blocks {
    width: 1175px;
    display: flex;
    justify-content: center;
    background-color: red;
}
/*STYLES FOR NAVBAR*/

#Navbar {
    width: 1920px;
    height: 80px;
    display: flex;
    background-color: var(--white);
    position: sticky;
    top: 0;

    font-family: 'HELEVETICALIGHT';
}
.Navbar-logo{
    display: flex;
    margin: auto ;
}
.Navbar-pages {
    display: flex;
    width: 780px;
    margin: auto ;
    justify-content: space-between;
}
.Navbar-pages a{
    color: var(--maintext);
}
.Navbar-pages a:hover{
    color: var(--orange);
}
.Navbar-socialmedia{
    display: flex;
    margin: auto ;
}
.Navbar-socialmedia a{
    color: var(--maintext);
}
.Navbar-email{
    display: flex;
    margin: auto ;
    margin: auto 0px auto 0;
}
.Navbar-contacts{
    display: flex;
    margin: auto ;
    flex-direction: column;
}
/*STYLES FOR HOMEPAGE-HEADER*/
#Header{
    width: 1920px;
    height: 700px;
    background-image: url(HeaderBackground.png);
}

.Header-headline1{
    padding-top: 75px;
    padding-bottom: 8px;

    font-size: 72px;
    letter-spacing: 5px;
    font-family: 'HELEVETICAHEAVY';
    color: var(--white);
}
.Header-headline2{
    font-size: 44px;
    line-height: 48px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'HELEVETICABOLD';
    color: var(--white);
}
.Header-form-ourUs{
    color: var(--white);
    margin-bottom: 45px;
    font-family: 'HELEVETICAHEAVY';
    font-size: 14px;
}
.Header-form-ourUs a:hover{
    color: var(--orange);
}
.Header-line{
    margin-top: 42px;
    margin-bottom: 34px;
    width: 55px;
    height: 1px;
    background-color: var(--white);
}
/*STYLES FOR HEADER FORM*/
.Header-form{
    margin-top: 50px;
    display: flex;
}
.Header-form-box2{
    display: flex;
}
.Header-form-legend{
    color: var(--white);
    margin-bottom: 40px;
    font-family: 'HELEVETICALIGHT';
    font-size: 24px;
}
.Header-form-input1{
    font-size: 24px;
    width: 305px;
    border: 1px solid var(--white);
    border-radius: 12px ;
    padding: 20px 0 20px 15px;
    margin-right: 35px;
}
.Header-form-input2{
    font-size: 24px;
    width: 305px;
    border: 1px solid var(--white);
    border-radius: 12px ;
    padding: 20px 0 20px 15px;
}
.Header-form-button{
    position: relative;
    right: 20px;
    font-size: 24px;
    width: 170px;
    color: var(--white);
    background-color: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 12px ;
    padding: 20px 15px 20px 15px;
}